/bin/
/.apt_generated/
/lib/javametrics.jar
/build/
/bintest/
/TEST-com.ibm.javametrics.JavametricsTest.xml
/TEST-com.ibm.javametrics.TopicTest.xml
/TEST-com.ibm.javametrics.dataproviders.CPUDataProviderTest.xml
/TEST-com.ibm.javametrics.dataproviders.GCDataProviderTest.xml
/TEST-com.ibm.javametrics.dataproviders.MBeanDataProviderTest.xml
/TEST-com.ibm.javametrics.dataproviders.MemoryPoolDataProviderTest.xml
/TEST-com.ibm.javametrics.instrument.InstrumentTest.xml
